table {
    width: 85%;
    border-collapse: collapse;
}

.movie-table th {
    background-color: #2196F3;
    color: white;
}

table th {
    text-align: center;
    font-size: 20px;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 6px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}